@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    'primary': (
      'base': #4a90e2,
    ),
    'success': (
      'base': #2ecc71,
    ),
    'warning': (
      'base': #f1c40f,
    ),
    'danger': (
      'base': #e74c3c,
    ),
    'error': (
      'base': #e74c3c,
    ),
  ),
);
